

*{
    padding:0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing:border-box;
}


body{
    font-family: sans-serif;
    /*
    background:linear-gradient(to left, #d0dde0, #bec6d8);
    */
    background: linear-gradient(to left, #d3e4e8, #99a9cc);
}

label.logo{
    color:black;
    font-size: 35px;
    line-height:80px;
    font-weight:bold;
    margin-left:377px;
    display:none;
}

.menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    padding-right: 4%;
    background:#FFFCCE;
}

.navbar2{
    width: 100%;
    display: flex;
    align-items: center;
    padding-right: 4%;
    background:black;
}

nav{
    flex: 1;
    text-align: center;
    background:black;
    height:70px;
    
}

nav ul li {
    list-style: none;
    display:inline-block;
    margin-right: 60px;
    margin-left:68px;
    line-height:80px;
}

nav ul li a{
    color:white;
    text-decoration: none;
    font-size: 20px;
}

nav ul li a:hover{
    color: #ff5ea2;
}

.image{
    width:45%;
    height:45%;
    height:1100; 
    width:700;
}

.sign{
    width:45%;
    height:45%;
    margin-left: auto;
    margin-right:165px

}

.menu-btn{
    display: none;
}

/*============Beginning of Banner ==============*/
.background-image{
    background-image: url('../back/banner.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.inner-back-text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.inner-back-text h1{
    font-size: 90px;
    color: white;
    text-align: center;
    line-height: 5rem;
    text-transform: uppercase;
}
.inner-back-text h1 span{
    color: var(--mainclr);
    text-transform: uppercase;
}
.inner-back-text p{
    color: #FFFCCE;
    font-size: 1.5rem;
    margin-bottom: 14px;
    padding: 1rem;
}
.inner-back-btn{
    display: flex;
    justify-content: center;
}
.inner-back-btn a{
    margin-right: 1rem;
}

.first-btn{
    padding: 14px;
    border-radius: 10px;
    background: white;
}

.first-btn:hover{
    padding: 1.5rem 4rem;
    background: var(--mainclr);
    border-radius: 15px;
    color: var(--headerclr);
    font-size: 1.5rem;
}
.first-btn:hover{
    background: var(--headerclr);
    color: white;
    letter-spacing: 3px;
}

/*============End of Banner ==============*/

/*============Beginning of Info ==============*/
.welcome{
    padding: 3rem 7%;
}
.main-welcome{
    display: flex;
    justify-content: center;
    align-items: left;
    gap: 10px;
    flex-wrap: wrap;
}


.welcome-text h1{
    font-size: 40px;
    color: var(--mainclr);
    text-align: center;

}
.welcome-text p{
    font-size: 1.5rem;
    padding: 1rem 0;
    margin-bottom: 25px;
    text-align: center;
}
.welcome-text a{
    padding: 1.5rem 4rem;
    background: var(--mainclr);
    color: var(--headerclr);
    font-size: 1.5rem;
    border-radius: 15px;
}
.welcome-text a:hover{
    background: var(--headerclr);
    color: white;
}

/*============End of Info ==============*/

/*============Beginning of Footer ==============*/


.footer{
    margin-top: 150px;
    width:100%;
    padding:100px 14%;
    background: #333;
    color:#efefef;
    display:flex;
}

.footer div{
    text-align: center;
}

.footer div h3{
    font-weight:300px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}


.col-1{
    margin-left: 430px;
}

.col-3{
margin-left: 300px;
}

.col-1 a{
    display: block;
    text-decoration: none;
    color:#efefef;
    margin-bottom: 10px;
}

.col-3 a{
    display: block;
    text-decoration: none;
    color:#efefef;
    margin-bottom: 10px;
}

 
/*============End of Footer ==============*/

@media only screen and (max-width:600px)
{
    .sign{
        display: none;
    }
   body{
       margin:1.5em;
       font-size: 1px;
   }

   .img{
      position:absolute;
      position:0;
      display:none;
      margin-top:600px;
   }

   .links {
    color: black;
    text-decoration: none;
    font-size: 10px;
    display: block;
    background-color:black;
  }
  
  nav ul{
      width: 100%;
      background: black;
      position: absolute;
      top:75px;
      right:0;
      z-index:2;
  }

  nav ul li{
    display: block;
}

   nav ul li a{
    color:white;
    font-size: 15px;
   }

  

.navbar{
    width: 100%;
    display: flex;
    background:#FFFCCE;
    border: solid;
}
label.logo{
    color:black;
    font-size: 18px;
    line-height:80px;
    font-weight:bold;
    display: flex;
    margin-left: 59px;
}

/*hamburger Menu*/
.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 40px;
    cursor: pointer;
    margin-left: 31px;
    transition: all .5s ease-in-out;
    /* border: 3px solid #fff; */
  }
  .menu-btn__burger {
    width: 30px;
    height: 6px;
    background: rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 6px;
    background: rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before {
    transform: translateY(-16px);
  }
  .menu-btn__burger::after {
    transform: translateY(16px);
  }
  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

/* End of hamburger Menu*/
h1{
    font-size: 40px;
    line-height: 100px;
}

nav{
    background: linear-gradient(to left, #d3e4e8, #99a9cc);
}

.navbar2{
    background: linear-gradient(to left, #d3e4e8, #99a9cc);
    display: none;
}



/*============Beginning of Body ==============*/
.first-btn{
    padding: 15px;
    border-radius: 5px;
    background: white;
    font-size: 20px;
}

.inner-back-text h1{
    font-size: 50px;
    color: white;
    text-align: center;
    line-height: 5rem;
    text-transform: uppercase;
}
.inner-back-text h1 span{
    color: var(--mainclr);
    text-transform: uppercase;
}
.inner-back-text p{
    color: #FFFCCE;
    font-size: 1.0rem;
    margin-bottom: 14px;
    padding: 1rem;
}
/*============Beginning of Footer ==============*/


.footer{
    display: none;
}


/*============End of Footer ==============*/

}


@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 1) {
    .sign{
        display: none;
    }
    body{
        margin:1.5em;
        font-size: 1px;
    }
    .img{
        position:absolute;
        position:0;
        display:none;
        margin-top:600px;
     }

     label.logo{
        color:black;
        font-size: 20px;
        line-height:80px;
        font-weight:bold;
        display: flex;
        margin-left: 210px;
    }
    nav ul li {
        list-style: none;
        display:inline-block;
        margin-right: 15px;
        margin-left:15px;
        line-height:60px;
    }
    .content{
        margin-top:70px;
        padding-left: 10%;
        padding-right:15%;
        font-size: 23px;
    }
    .afc{
        display:flex;
        margin-top: 80px;
        height:10%;
        width:90%;
        margin-left: 220px;
       
    }

    /*============Beginning of Body ==============*/
    .first-btn{
        padding: 15px;
        border-radius: 5px;
        background: white;
        font-size: 20px;
    }

    .footer{
        display: none;
    }

    
}

@media (min--moz-device-pixel-ratio: 1.5),
       (-o-min-device-pixel-ratio: 3/2),
       (-webkit-min-device-pixel-ratio: 1.5),
       (min-device-pixel-ratio: 1.5),
       (min-resolution: 144dpi),
       (min-resolution: 1.5dppx) {


            .sign{
                margin-right: 140px;
            }

            
}
/* Medium */
@media (min-width: 48em) {  

    .col-1{
        margin-left: 240px;
    }
    .sign{
        margin-left: 540px;
    }
}
  
/*Large */
@media screen and (min-width: 2000px) 
{


    .sign{
        margin-right: 194px;
    }

    .col-1{
        margin-left: 650px;
    }
}