*{
    padding:0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing:border-box;
}


body{
    font-family:montserrat;
    background: #fce3bd;
}

label.logo{
    color:black;
    font-size: 35px;
    line-height:80px;
    padding: 0 100px;
    font-weight:bold;
}

.menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    padding-right: 4%;
}

nav{
    flex: 1;
    text-align: right;
    /*background: #FFFCCE;
    outline-width: medium;
    outline-style: double;
    outline-color: black;
    */
    height:80px;
    
}

nav ul li {
    list-style: none;
    display:inline-block;
    margin-right: 30px;
    line-height:80px;
}

nav ul li a{
    color:black;
    text-decoration: none;
    font-size: 20px;
}

nav ul li a:hover{
    color: #ff5ea2;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.image{
    padding-left: 4%;
    width:45%;
    height:45%;
    height:1100; 
    width:700;
}

.About{
    text-align: center;
}

.content{
    padding-left: 4%;
}

@media only screen and (max-width:600px)
{
    label.logo{
        color:black;
        font-size: 25px;
        line-height:80px;
        padding: 0 100px;
        font-weight:bold;
    }
    nav ul{
        width: 100%;
        background: #fce3bd;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }
   nav ul li{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
   }
   nav ul li a{
       color: black;
   }
   .menu-icon{
       display: block;
   }
   #menuList{
       overflow: hidden;
       transition: 0.5s;
   }
   .image{
       padding-left: 2%;
       width:45%;
       height:45%;
       height:700; 
       width:380;
   }
   .row{
       flex-direction: column-reverse;
       margin: 50px 0;
   }

}
